[submodule "DroneControlLibrary"]
	path = DroneControlLibrary
	url = git@git.coretronic.com:coretronicdrone/dronecontrollibrary.git
[submodule "TTSLib"]
	path = TTSLib
	url = git@git.coretronic.com:coretronicdrone/ttslib.git
[submodule "app/src/main/assets/drone_map"]
	path = app/src/main/assets/drone_map
	url = git@git.coretronic.com:coretronicdrone/Drone_Map.git
